{% extends 'base.html.twig' %}

{% block title %} Camping l'Espadrille Volante {% endblock %}

{% block body %}
    <div class="container row">
        <div class="col-sm-3 mt-3">
            {{ include("/front/template_part/_menu.html.twig") }}
        </div>
        <div class="col-sm-9">
    <h2 class="container text-center mb-1 mt-3">Bienvenue à l'Espadrille Volante</h2>
            <img src="{{ asset('img/camping.jpg') }}" alt="" width="1200" height="500" class="mt-2">
            <p class="mt-5 ms-2">
                Nous vous accueillons du 05 Mai au 10 Octobre. <br>
                La période de haute saison a lieu du 21 Juin au 31 Août.
            </p>
        </div>
    </div>

{% endblock %}